body {
    background-color: black;
}

#container {
    height: 100vh;
    background-color: rgb(148, 26, 26);
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
    /*grid-template-areas: 
    'sidebar nav nav nav'
    'sidebar cont cont cont'
    'sidebar footer footer footer';*/


}

#container div {
    background-color: white;
    border: 1px solid blue;
}

#sidebar {
    /*grid-area: sidebar;*/
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 11;
}

#nav {
    /*grid-area: nav;*/
}

#cont {
    /*grid-area: cont;*/
}

#footer {
    /*grid-area: footer;*/
}

