#container {
    background-color: grey;
    border: 3px solid green;
    padding: 15px;
    display: grid;
    grid-template-areas: 
    'sidebar nav nav nav'
    'sidebar cont cont cont'
    'sidebar footer footer footer';


}

#container div {
    background-color: white;
    padding: 20px;
    border: 1px solid blue;
}

#sidebar {
    grid-area: sidebar;
}


#nav {
    grid-area:nav;
}

#content {
    grid-area: cont;
}

#footer {
    grid-area: footer;
}

